@model AdvertisementPortal.Core.ViewModels.AdvertisementViewModel

@{
	ViewData["Title"] = Model.Title;
}

<div class="container col-8">

	<img class="img-fluid mb-2 mt-2" src="https://warsawtour.pl/wp-content/uploads/2023/03/Panorama-Warszawy-z-Widok-Towers-fot.-Filip-Kwiatkowski-1.jpg" alt="@Model.Title">

	<h1>@Model.Title</h1>

	<small class="text-muted">

		@Model.CreatedTime.ToString("dd-MM-yyyy")
		·
		@Model.CategoryName
		·
		@Model.AdvertisementUserName

		@if (Model.AdvertisementUserId == Model.CurrentUserId)
		{
			<button type="button" class="btn btn-primary btn-sm text-light">
				<i class="fa-solid fa-pen-to-square"></i>
				Edycja
			</button>
		}

	</small>

	<p class="text-justify mt-3">@Model.Content</p>

	@if (Model.Comments != null && Model.Comments.Any())
	{
		foreach (var comment in Model.Comments)
		{
			<div class="card mb-3">
				<div class="card-body">

					<small class="text-muted">

						@comment.CreatedDate.ToString("dd-MM-yyyy")
						·
						@comment.CommentUserName

					</small>

					<p class="card-text mt-2">@comment.Content</p>

				</div>
			</div>
		}
	}
	else
	{
		<div class="alert alert-info mt-3" role="alert">
			Ogłoszenie nie posiada komentarzy.
		</div>
	}

	@if (Model.CurrentUserId != null)
	{
		<form>

			<div class="form-group mb-2">
				<label for="#" class="mb-2">Tytuł</label>
				<input type="text" class="form-control" id="#">
			</div>

			<div class="form-group mb-2">
				<label for="#" class="mb-2">Treść</label>
				<textarea class="form-control" id="#" rows="3"></textarea>
			</div>

			<button type="button" class="btn btn-primary mt-1">
				<i class="fa-solid fa-plus"></i>
				Dodaj
			</button>

		</form>
	}
	else
	{
		<div class="alert alert-warning mt-3" role="alert">
			Celem dodania nowego komentarza należy się zalogować!
		</div>
	}

</div>
